p, a, h3 {
  margin: 0;
}

.footer {
    display: flex;
}

.footerLinksBlock{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 64px;
    grid-column-gap: 32px;
}

.footerTitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
}

.colorText{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 24px;
}

.buttonText{
    color: rgba(251, 251, 251, 1);
}

.buttonFooter {
    display: inline-flex;
    align-items: center;
    padding: 16px 140px;
    border: 1px solid #fff;
    border-radius: 12px;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    background-color: transparent;
}

.socialMedia{
    display: flex;
    justify-content: space-between;
}

.footerLink {
    display: block;
    margin-bottom: 18px;
    text-decoration: none;
}
