.headerWrap {
    margin-top: 88px;
    margin-bottom: 80px;
}

.mainTitle {
    font-weight: 900;
    font-size: 54px;
    line-height: 63px;
    color: var(--1inch-title);
}

.bgImage {
    position: absolute;
    width: 552px;
    height: 637px;
    right: 80px;
    top: -72px;
    z-index: -1;
    color: var(--1inch-bg-image);
}

.mainLayout {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.mainLayout::before {
    content: url("../../static/img/topbg-dark.svg");
    position: absolute;
    right: 0;
    left: 0;
    top: -50px;
    z-index: -1;
    width: 100%;
}


.mainLayout::after {
    content: url("../../static/img/footer-gradient-dark.svg");
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50px;
    z-index: -1;
    width: 100%;
}

html[data-theme='light'] .mainLayout::before {
    content: url("../../static/img/topbg-light.svg");
}

html[data-theme='light'] .mainLayout::after {
    content: url("../../static/img/footer-gradient-light.svg");
}

.section {
    margin-bottom: 120px;
}

.section2 {
    margin-bottom: 204px;
}

.section3 {
    margin-bottom: 86px;
}

.section4 {
    margin-bottom: 86px;
}

@media (max-width: 768px) {
    .section {
        margin-bottom: 80px;
    }

    .section2 {
        margin-bottom: 152px;
    }
}


@media (max-width: 600px) {
    .mainTitle {
        font-size: 36px;
        line-height: 42px;
    }

    .mainLayout::before {
        content: url("../../static/img/top-bg-mobile.svg");
    }

}
