.headerWrap {
    padding-top: 88px;
    margin-bottom: 80px;
}

.mainTitle {
    font-weight: 900;
    font-size: 54px;
    line-height: 63px;
    color: var(--1inch-title);
}

.mainContainer {
    position: relative;
    overflow: hidden;
}

.mainContainer::before {
    content: url("../../static/img/topbg-dark.svg");
    position: absolute;
    right: 0;
    left: 0;
    top: -60px;
    z-index: -1;
    width: 100%;
}

.mainContainer::after {
    content: url("../../static/img/footerbg-dark.svg");
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

html[data-theme='light'] .mainContainer::before {
    content: url("../../static/img/topbg-light.svg");
}

html[data-theme='light'] .mainContainer::after {
    content: url("../../static/img/footer-gradient-light.svg");
}

.bgImage {
    position: absolute;
    width: 448px;
    right: 0;
    top: -31px;
    z-index: -1;
    color: var(--1inch-bg-image);
}

.mainLayout {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.section {
    margin-bottom: 120px;
}

.section2 {
    margin-bottom: 220px;
}

.section3 {
    margin-bottom: 86px;
}

.section4 {
    margin-bottom: 122px;
}

@media (max-width: 996px) {
    .mainTitle {
        width: 500px;
    }
}

@media (max-width: 820px) {
    .bgImage {
        right: -28px;
    }
}

@media (max-width: 768px) {
    .section {
        margin-bottom: 80px;
    }

    .section2 {
        margin-bottom: 64px;
    }

    .section4 {
        margin-bottom: 64px;
    }
}

@media (max-width: 720px) {
    .headerWrap {
        padding-top: 230px;
    }
}

@media (max-width: 600px) {
    .headerWrap {
        padding-top: 48px;
        margin-bottom: 40px;
    }

    .mainTitle {
        font-size: 36px;
        line-height: 42px;
        max-width: 300px;
    }

    .bgImage {
        right: -28px;
        top: 0;
        height: 300px;
        width: 270px;
    }

    .mainContainer::before {
        content: url("../../static/img/top-bg-mobile.svg");
    }
}

@media (max-width: 470px) {
    .headerWrap {
        padding-top: 172px;
    }

    .bgImage {
        right: -76px;
        height: 364px;
        width: 310px;
    }
}
