.featureList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28px;
}

.featureCard {
    border: 1px solid var(--1inch-border-color-1);
    border-radius: 16px;
    padding: 32px 24px;
    backdrop-filter: blur(100px);
    color: var(--1inch-title-color-1);
}

.featureCard:hover {
    text-decoration: none;
}

.featureCardTitleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.featureCardGithubLink {
    display: contents;
}

.featureCardText {
    margin-bottom: 16px;
}

.featureCardImage {
    display: block;
    margin: 0 auto 24px;
    max-height: 172px;
}

.featureCardLinkWrap {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 4px;
}

.featureCardLinkWrap:last-child {
    margin-bottom: 0;
}
