:root {
    --1inch-common-title: #FBFBFB;
    --1inch-common-bg: rgba(108, 134, 173, 0.55);

    --1inch-page-bg: #06070A;
    --1inch-bg-image: rgba(255, 255, 255, 0.09);
    --1inch-title: #FBFBFB;
    --1inch-text: rgba(255, 255, 255, 0.6);
    --1inch-text-2: #6C86AD;
    --1inch-border: rgba(255, 255, 255, 0.25);
    --1inch-button: #2F8AF5;
    --1inch-bg-1: #000000;
    --1inch-bg-2: #202835;
    --1inch-bg-3: #FBFBFB;
    --1inch-bg-card: #FFFFFF;
    --1inch-shadow-1: 0 0 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.25);
    --1inch-text-2-hover: #FBFBFB;
}

:root[data-theme='light'] {
    --1inch-page-bg: #f3f5fa;
    --1inch-text: #222222;
    --1inch-text-2: #6C86AD;
    --1inch-bg-image: rgba(108, 134, 173, 0.12);
    --1inch-title: #1c1e21;
    --1inch-border: rgba(0, 0, 0, 0.24);
    --1inch-button: #2F8AF5;
    --1inch-bg-1: #FFFFFF;
    --1inch-bg-2: #FFFFFF;
    --1inch-bg-3: #06070A;
    --1inch-shadow-1: 0 0 4px rgba(71, 73, 79, 0.05), 0 1px 2px rgba(71, 73, 79, 0.05);
    --1inch-text-2-hover: #222222;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../static/fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../../static/fonts/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2') format('woff2');
}

p, a, h1, h2, h3 {
    margin: 0;
    text-decoration: none;
}

html {
    background: var(--1inch-page-bg);
}

.main-wrapper:not(.docs-wrapper) {
    color: var(--1inch-text);
    font-family: 'Roboto', sans-serif;
}

.main-wrapper:not(.docs-wrapper) h1,
.main-wrapper:not(.docs-wrapper) h2,
.main-wrapper:not(.docs-wrapper) h3 {
    color: var(--1inch-title);
}

.page-container {
    max-width: 1160px;
    margin: 0 auto;
}

.navbar {
    background: var(--1inch-page-bg);
    box-shadow: none;
    border-bottom: 1px solid var(--1inch-border);
}

.navbar__title {
    font-size: 24px;
}

.navbar__brand {
    margin-right: 48px;
}

.navbar-sidebar__brand {
    box-shadow: none;
    border-bottom: 1px solid var(--1inch-border);
}

.navbar__item {
    padding: 0;
    margin-right: 48px;
}

.navbar__link {
    color: var(--1inch-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.navbar__item:hover .navbar__link {
    color: var(--1inch-title);
}

.dropdown__menu {
    background: var(--1inch-bg-1);
    padding: 14px 24px;
    border-radius: 16px;
    min-width: 156px;
    box-shadow: none;
}

.navbar-sidebar {
    background: var(--1inch-bg-1);
}

.dropdown__link {
    font-size: 16px;
    color: var(--1inch-text);
}

.dropdown__link:hover {
    background: none;
    color: var(--1inch-title);
}

.docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module {
    border-right-color: var(--1inch-border) !important;
}

.table-of-contents__left-border {
    border-left-color: var(--1inch-border) !important;
}

.swagger-ui pre.version {
    background-color: transparent !important;
}

.swagger-ui .info .title {
    color: var(--1inch-title) !important;
}

.swagger-ui .info h1, .swagger-ui .info h2, .swagger-ui .info h3, .swagger-ui .info h4, .swagger-ui .info h5 {
    color: var(--1inch-title) !important;
}

.renderedMarkdown {
    color: var(--1inch-title) !important;
}

.swagger-ui .border-box, .swagger-ui a, .swagger-ui article, .swagger-ui body, .swagger-ui code, .swagger-ui dd,
.swagger-ui div, .swagger-ui dl, .swagger-ui dt, .swagger-ui fieldset, .swagger-ui footer, .swagger-ui form,
.swagger-ui h1, .swagger-ui h2, .swagger-ui h3, .swagger-ui h4, .swagger-ui h5, .swagger-ui h6, .swagger-ui header,
.swagger-ui html, .swagger-ui input[type=email], .swagger-ui input[type=number], .swagger-ui input[type=password],
.swagger-ui input[type=tel], .swagger-ui input[type=text], .swagger-ui input[type=url], .swagger-ui legend,
.swagger-ui li, .swagger-ui main, .swagger-ui ol, .swagger-ui p, .swagger-ui pre, .swagger-ui section, .swagger-ui table,
.swagger-ui td, .swagger-ui textarea, .swagger-ui th, .swagger-ui tr, .swagger-ui ul {
    color: var(--1inch-title) !important;
}

.arrow, button {
    fill: var(--1inch-bg-3);
}

.models-control:hover {
    text-decoration: none;
}

.swagger-ui .model-title {
    color: var(--1inch-title) !important;
}

.model-box-control, .model-box {
    color: var(--1inch-title) !important;
}

html[data-theme='dark'] .swagger-ui .model-toggle:after {
    filter: invert(100%);
}

.model-box-control:focus {
    outline: none !important;
}

.opblock-summary-control:focus {
    outline: none !important;
}

.models-control:focus {
    outline: none !important;
}

.swagger-ui table.model tbody tr td:first-of-type {
    padding: 16px !important;
}

.swagger-ui .prop-type {
    padding: 8px;
}

.model {
    border-radius: 16px;
}

.renderedMarkdown {
    padding-left: 8px ;
}

.swagger-ui .model .property.primitive{
    padding-left: 8px !important;
}

.swagger-ui button,
.swagger-ui select {
    fill: var(--1inch-bg-3) !important;
}

.swagger-ui .opblock .opblock-section-header {
    background-color: var(--1inch-bg-2) !important;
}

.swagger-ui .btn {
  color: var(--1inch-text)!important;
}

@media (max-width: 1200px) {
    .page-container {
        margin: 0 20px;
    }
}
