name: CI

on:
  push:
    branches-ignore:
      - master
    paths-ignore:
      - .github/**
  # manual trigger
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Clone source code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'

      - name: Install yarn
        run: npm install --global yarn

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: |
          yarn
          yarn install --frozen-lockfile

      - name: Build
        run: |
          yarn run build
